.up {
    background-color: #325f72;
    width: 99vw;
    height: 28vh;
}

.up__name1 {
    font-size: 6vw;
    text-align: left;
    white-space: pre;
    color: antiquewhite;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.up__con {
    position: absolute;
    left: 90vw;
    top: 18.5vh;
    font-size: 4vh;
    margin: 8px;
    font-family: "Oswald", sans-serif;
    color: antiquewhite;
}

.picture {
    background: linear-gradient(to bottom, #325f72, #678391);
    width: 99vw;
    height: 65vh;
}

.picture__vlad {
    z-index: 1;
    /* Фотография поверх фона */
    width: 35vw;
    height: 65vh;
    position: absolute;
    left: 35vw;
}

.portfolio {
    background: linear-gradient(to bottom, #678391, #e0dfe6);
}


.portfolio__text {
    color: #193744;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
    white-space: pre;
}

.gps {
    background: linear-gradient(to bottom, #e0dfe6, #008bb9);
    width: 99vw;
    height: 65vh;
}

.gps__photo {
    width: 25vw;
    height: 55vh;
    margin: 50px;
    position: absolute;
    left: 7vw;
    z-index: 1;
}


.gps__photo-text {
    color: #193744;
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    left: 38vw;
    top: 115vh;
    text-align: left;
    font-size: 2.0vw;
}

.sergi {
    background: linear-gradient(to bottom, #008bb9, #002565);
    width: 99vw;
    height: 65vh;
}

.sergi__photo {
    width: 25vw;
    height: 55vh;
    margin: 50px;
    position: absolute;
    left: 60vw;
}

.sergi__photo-text {
    color: #9cc6d8;
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    white-space: pre;
    top: 178vh;
    left: -3vw;
    text-align: left;
    font-size: 2.0vw;
}

#background {
    background: linear-gradient(to bottom, #002565, #000000);
    width: 99vw;
    height: 8vh;
}

#contacts {
    background: #000000;
    width: 99vw;
    height: 20vh;
}

.phone {
    margin: 5vh;
    position: absolute;
    left: 70vw;

}

.telega {
    margin: 5vh;
    position: absolute;
    left: 80vw;


}

.vk {
    margin: 5vh;
    position: absolute;
    left: 90vw;
}